<table>
  <tr>
    <td>Name</td>
    <td>Weight</td>
    <td>Symbol</td>
    <td></td>
  </tr>
  <tr *ngFor="let elem of elements$ | async">
    <td>{{ elem.name }}</td>
    <td>{{ elem.weight }}</td>
    <td>{{ elem.symbol }}</td>
    <td>
      <button (click)="selectElement(elem)">Select</button>
    </td>
  </tr>
</table>
